<section class="about">
    <h1>О нас</h1>
    <p>
      Это финальный проект нашей команды на курсе Web-Dev 2025 KBTU. Бэкенд было написано Даниалом и Жәнібеков, а фронтенд — Нұржалғасом.
    </p>
  
    <h2>Наша команда</h2>
    <ul class="team-list">
      <li>
        <strong>Даниал Ибрашов</strong> — <a href="https://github.com/w0ikid" target="_blank">GitHub: w0ikid</a>
      </li>
      <li>
        <strong>Дарханұлы Жәнібек</strong> — <a href="https://github.com/janibekDarkhanuly" target="_blank">GitHub: janibekDarkhanuly</a>
      </li>
      <li>
        <strong>Қожамсейт Нұржалғас</strong> — <a href="https://github.com/ayayaakasvin" target="_blank">GitHub: ayayaakasvin</a>
      </li>
      <li>
        <strong>Гитхаб проекта</strong> — <a href="https://github.com/jacobrya" target="_blank">GitHub: jacobrya</a>
      </li>
    </ul>
  
    <p>
      Проект написан с использованием Angular для фронтенда и Django для бэкенда. Мы использовали PostgreSQL в качестве базы данных и реализовали RESTful API для взаимодействия между клиентом и сервером.
      Мы также использовали JWT для аутентификации пользователей и обеспечения безопасности приложения.
    </p>
  </section>
  